#sisu-konteiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.esimene-lk-tekst {
    font-family: 'American Typewriter', serif;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

#ava-taust {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#taust-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -2;
}

#gradient-kiht {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #0d2136 100%);
    z-index: -1; 
}

/*------------------------------------------------------*/

#tutvustus-konteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#tutvustus-konteiner-sisu-taust {
    display: flex;
    flex: 1 1 50%;
    background-color: rgb(0, 0, 0, 0.2);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#tutvustus-konteiner-sisu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tutvustus-konteiner-info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1 1 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#tutvustus-konteiner-info-pealkiri {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#tutvustus-konteiner-info-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

#tutvustus-konteiner-pildi_kast {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex: 1 1 40%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tutvustus-konteiner-pilt {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    margin-left: 10%;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#pilt1 {
    height: 500px;
    width: 500px;
    object-fit: cover;
    padding: 50px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

/*------------------------------------------------*/

#sobivus-konteiner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    min-height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 0;
}

#sobivus-konteiner::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://udisc-parse.s3.amazonaws.com/e34f0654a5afc68939fe312b1bce3198_m_61RWzHOWdURPIQW9msomn5CRtF8x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(15%);
    z-index: -1;
    overflow: hidden;
}

.sobivus-rida {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    min-height: fit-content;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.sobivus-rida > .sobivus-raam {
    flex: 1;
}

.sobivus-raam {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.sobivus-sisu:hover {
    transform: scale(1.1);
    filter: brightness(1.6);
}

.sobivus-sisu {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 60px;
    margin: 20px;
    position: relative;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.sobivus-pealkiri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 40px;
    padding-bottom: 20px;
}

.sobivus-tekst {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    padding-top: 20px;
}

#r1-pilt1, #r1-pilt2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60px;
    z-index: -1;
    filter: brightness(60%);
}

#r1-pilt1 {
    object-position: center 20%;
}

#r1-pilt2 {
    object-position: center 40%;
}

#r2-pilt1, #r2-pilt2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60px;
    z-index: -1;
    filter: brightness(40%);
}

#r2-pilt1 {
    object-position: center 60%;
}

#r2-pilt2 {
    object-position: center 60%;
}

#r3-pilt1, #r3-pilt2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60px;
    z-index: -1;
    filter: brightness(40%);
}

#r3-pilt1 {
    object-position: center 10%;
}

#r3-pilt2 {
    object-position: center 60%;
}

/*----------------------------------------------------*/

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

svg {
    position: absolute;
    top: 6em;
    left: 10vw;
    width: 80vw;
    z-index: 100;

    .mask {
        width: 1;
    }
}

.ajajoon-pealkiri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding-left: 60px;
    padding-bottom: 0;
    height: fit-content;
    z-index: 1;
}

#ajajoon-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 0;
    height: fit-content;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1300vw;
    height: 80vh;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.slaid {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh 11vw;
    height: fit-content;
    width: 100vw;
    margin-top: 150px;
    margin-bottom: 0;
    z-index: 0;
}

.slaid-sisu {
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 60px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    z-index: -2;
}

.slaid-alampealkiri {
    font-size: 40px;
    font-family: 'American Typewriter', serif;
    color: white;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.slaid-pealkiri {
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
}

.slaid-tekst {
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
}

.slaid-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    gap: 20px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.pildiraam {
    position: relative;
    align-items: center;
    height: 60vh;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 15px;
    z-index: 1;
}

.pilt {
    background-size: contain;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    border-radius: 50px;
    z-index: 1;
}

#aj-pilt1 {
    background: url("https://bloximages.chicago2.vip.townnews.com/collectorsjournal.com/content/tncms/assets/v3/editorial/8/73/87338984-c57d-11e8-8f3b-939509f51db2/5bb22064738d1.image.jpg");
    background-size: 131%;
}

#aj-pilt2 {
    background: url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Walter_Frederick_Morrison.jpg");
    background-size: 130%;
}

#aj-pilt3 {
    background: url("https://parkeddiscgolf.org/wp-content/uploads/2021/07/multiple-disciplines.jpg");
    background-size: 190%;
    background-position: 15%;
}

#aj-pilt4 {
    background: url("https://static01.nyt.com/images/2017/05/11/business/weston-side-frisbee/weston-side-frisbee-articleLarge.jpg?quality=75&auto=webp&disable=upscale");
    background-size: 100%;
}

#aj-pilt5 {
    background: url("https://discgolf.com/wp-content/uploads/orzech003.jpg");
    background-size: 110%;
}

#aj-pilt6 {
    background: url("https://frisbeesportshistory.com/wp-content/uploads/2024/06/smithsonian-frisbee-festival-1.jpg");
    background-size: 150%;
}

#aj-pilt7 {
    background: url("https://d22ksth68ujgu2.cloudfront.net/cd0ae1851da2f28902fb128e0a644aca_m_IMG_1748.jpg");
    background-size: 100%;
}

#aj-pilt8 {
    background: url("https://www.pdga.com/files/u15156/stork_and_palmeri.jpg");
    background-size: 145%;
}

#aj-pilt9 {
    background: url("https://www.innovadiscs.com/wp-content/uploads/2014/12/patent-featured.jpg");
    background-size: 100%;
}

#aj-pilt10 {
    background: url("https://i.pinimg.com/originals/1d/f9/34/1df93497e43adec1bcabc3a69bcf54ba.jpg");
    background-size: 100%;
    filter: brightness(80%);
}

#aj-pilt11 {
    background: url("https://cdn.prod.website-files.com/6022d022692b4ef0335c924d/66795d2f214f76c394dcc9c8_DAFF0E7C-CFB6-4D48-9288-701A01C725A5_1_105_c.jpeg");
    background-size: 150%;
}

#aj-pilt12 {
    background: url("https://www.innovadiscs.com/wp-content/uploads/2018/10/mcbeth-usdgc-header.jpg");
    background-size: 210%;
    background-position: 40%;
}

#aj-pilt13 {
    background: url("https://coloradomtn.edu/wp-content/uploads/2024/07/3G0A0703-Enhanced-NR-scaled.jpg");
    background-size: 160%;
    background-position: 30%;
}

#lõpuosa {
    height: 200px;
    width: 100%;
}

/*----------------------------------------------------*/

#kaart-konteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    min-height: 110vh;
    margin-top: 50px;
    margin-bottom: 0;
    z-index: 0;
}

.kaart-konteiner-pealkiri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    padding: 40px;
    padding-bottom: 20px;
}

.kaart-konteiner-tekst {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    padding-top: 20px;
}

#kaart-konteiner-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

#kaart-konteiner-sisu {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 80%;
    height: 630px;
    margin: 5% 10%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#kaart {
    position: relative;
    top: -70px;
    height: 700px;
    width: 100%;
    border: 0;
    overflow: hidden;
    border-radius: 40px;
}
