*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

div {
    outline: 2px solid rgb(100, 100 ,100, 0);
}

a {
    color: grey;
}

a:hover {
    color: darkgray;
}

body {
    background-color: #0d2136;
}

.pealkiri, .tekst, .alampealkiri {
    font-family: 'American Typewriter', serif;
    color: white;
}

.pealkiri {
    font-size: 80px;
    text-align: center;
    text-shadow: 5px 5px 20px rgb(0, 0, 0, 1);
}

.alampealkiri {
    font-size: 50px;
    text-shadow: 5px 5px 15px rgb(0, 0, 0, 1);
}

.tekst {
    font-size: 20px;
    text-shadow: 0 0 10px rgb(0, 0, 0, 1);
    line-height: 1.5;
    text-align: justify;
    vertical-align: middle;
    transition: all 0.3s ease;
    transform-origin: center center;
}

/* Päise stiil */
#päis {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: stretch;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: none;
    z-index: 100;
}

/* Nupu stiil */
.nupp {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(100, 100 ,100, 0.3);
    border-right: 1px solid rgb(100, 100 ,100, 0.3);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
}

.nupp:hover .tekst{
    padding-bottom: 2px;
    transform: scale(1.2);
}

.nupp:hover {
    background-color: rgba(0, 0, 0, 0.2);
}