*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

div {
    outline: 1px solid rgb(100, 100 ,100, 0.5);
}

body {
    background-color: rgb(20, 25, 44);
}

.pealkiri, .tekst, .alampealkiri {
    font-family: 'American Typewriter', serif;
    color: white;
    text-align: justify;
}

.pealkiri {
    font-size: 60px;
}

.alampealkiri {
    font-size: 40px;
}

.tekst {
    font-size: 20px;
    line-height: 1.5;
}

/* Päise stiil */
#päis {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: stretch;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: none;
    z-index: 1000;
}

/* Nupu stiil */
.nupp {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(100, 100 ,100, 0.3);
    border-right: 1px solid rgb(100, 100 ,100, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: font-size .3s;
}

.nupp:hover {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.2);
}